In [1145]:
import pandas as pd

In [1146]:
df = pd.read_excel("data.xlsx")

In [1147]:
df.head(5)

,product_id,product_name,category,price,image,image_url,source,platform
0,278237932,Điện thoại Xiaomi Redmi 14C - Hàng chính hãng,Điện thoại,2410000,Điện_thoại/278237932_-975695080881447204.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/dien-thoai-xiaomi-redmi-14c-ha...,Tiki
1,278098703,Điện thoại POCO C75 (8GB/256GB) - Hàng Chính Hãng,Điện thoại,2790000,Điện_thoại/278098703_2095942361632154034.png,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/dien-thoai-poco-c75-8gb-256gb-...,Tiki
2,278000720,Điện thoại HONOR X5b Plus 4GB/128GB - Hàng chí...,Điện thoại,1950000,Điện_thoại/278000720_-2224713159010548791.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/dien-thoai-honor-x5b-plus-4gb-...,Tiki
3,277930460,Điện thoại Vivo Y19s (4GB/128GB) - Hàng Chính ...,Điện thoại,3090000,Điện_thoại/277930460_-6338273362158553919.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/dien-thoai-vivo-y19s-4gb-128gb...,Tiki
4,277930407,Điện thoại Tecno Spark GO 1 (3GB/64GB) - Hàng ...,Điện thoại,1690000,Điện_thoại/277930407_2543557764007806590.png,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/dien-thoai-tecno-spark-go-1-3g...,Tiki

In [1148]:
df.tail(5)

,product_id,product_name,category,price,image,image_url,source,platform
895,-6008350649452650584,Zongxin. C11 Đồng hồ thông minh thời trang thể...,Đồng hồ thông minh,586377,NaN,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",https://www.lazada.vn/products/pdp-i3113861613...,Lazada
896,-3322998491198406804,Đồng Hồ Thông Minh AMA Q19 Camera Kép Xoay 360...,Đồng hồ thông minh,470000,NaN,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",https://www.lazada.vn/products/pdp-i2302576379...,Lazada
897,-5434176229531582896,CT VOKUSS Baike Shi Smart Watch G6pro Extraord...,Đồng hồ thông minh,999999,NaN,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",https://www.lazada.vn/products/pdp-i3018610108...,Lazada
898,-8064905654789698441,Đồng Hồ Thông Minh DZ09 Đồng Hồ Bluetooth Điện...,Đồng hồ thông minh,167577,NaN,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",https://www.lazada.vn/products/pdp-i1561349153...,Lazada
899,-1923108347769427912,Đồng hồ thông minh trẻ em định vị chống nước Z...,Đồng hồ thông minh,209000,NaN,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",https://www.lazada.vn/products/pdp-i1310761481...,Lazada

In [1149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    900 non-null    int64
 1   product_name  880 non-null    object
 2   category      900 non-null    object
 3   price         900 non-null    int64
 4   image         752 non-null    object
 5   image_url     880 non-null    object
 6   source        900 non-null    object
 7   platform      900 non-null    object
dtypes: int64(2), object(6)
memory usage: 56.4+ KB

In [1150]:
df.describe()

         product_id         price
count  9.000000e+02  9.000000e+02
mean  -3.329297e+16  2.487850e+06
std    3.587687e+18  5.239183e+06
min   -9.145437e+18  0.000000e+00
25%    2.496170e+07  1.687500e+05
50%    2.724374e+08  5.048500e+05
75%    2.780532e+08  1.941772e+06
max    9.186353e+18  4.499000e+07

# Xử lý giá trị thiếu

In [1151]:
missing_values = df.isnull().sum()
missing_df = pd.DataFrame({
    'Column': df.columns,
    'Missing Values': missing_values.values
})

print(missing_df)

         Column  Missing Values
0    product_id               0
1  product_name              20
2      category               0
3         price               0
4         image             148
5     image_url              20
6        source               0
7      platform               0

> Xoá các dòng giá trị thiếu ở cột image

In [1152]:
columns_to_check = ['product_name', 'image', 'image_url']
df = df.dropna(subset=columns_to_check).copy()

df.reset_index(drop=True, inplace=True)

# Xử lý giá trị không hợp lệ

In [1153]:
import re

In [1154]:
def contains_special_icon(text):
    if pd.isna(text):
        return False
    # Chấp nhận chữ, số, khoảng trắng và một số ký tự thông thường
    return bool(re.search(r"[^\w\s,.!?%&()\-@:/\\+]", str(text)))

# Cột sẽ loại trừ khỏi kiểm tra chuỗi đặc biệt (như 'source', 'image_url', 'image')
excluded_string_columns = {'source', 'image_url', 'image'}

# Danh sách lỗi và chỉ số dòng bị lỗi
errors = []
invalid_rows = {}

for col in df.columns:
    col_data = df[col]
    dtype = col_data.dtype

    # Kiểm tra giá trị số < 0
    if pd.api.types.is_numeric_dtype(dtype):
        mask = col_data < 0
        count_neg = mask.sum()
        if count_neg > 0:
            errors.append(f"Cột '{col}' có {count_neg} giá trị < 0 (không hợp lệ).")
            invalid_rows[col] = df[mask]

    # Kiểm tra ký tự đặc biệt trong chuỗi, bỏ qua một số cột
    elif (pd.api.types.is_string_dtype(dtype) or dtype == object) and col not in excluded_string_columns:
        mask = col_data.astype(str).apply(contains_special_icon)
        count_icon = mask.sum()
        if count_icon > 0:
            errors.append(f"Cột '{col}' có {count_icon} giá trị chứa icon/ký tự đặc biệt không hợp lệ.")
            invalid_rows[col] = df[mask]

# In kết quả
if errors:
    print("KẾT QUẢ KIỂM TRA GIÁ TRỊ KHÔNG HỢP LỆ:\n")
    for e in errors:
        print(e)
else:
    print("Không phát hiện giá trị không hợp lệ trong DataFrame.")

KẾT QUẢ KIỂM TRA GIÁ TRỊ KHÔNG HỢP LỆ:

Cột 'product_id' có 144 giá trị < 0 (không hợp lệ).
Cột 'product_name' có 37 giá trị chứa icon/ký tự đặc biệt không hợp lệ.

> Giữ những dòng có product_id là số dương

In [1155]:
df = df[df['product_id'] >= 0]

In [1156]:
print(f"Số dòng còn lại: {len(df)}")

Số dòng còn lại: 608

In [1157]:
if 'product_name' in invalid_rows:
    print("\nCác dòng product_name không hợp lệ:")
    print(invalid_rows['product_name'][['product_id', 'product_name']].head(10))

Các dòng product_name không hợp lệ:
     product_id                                       product_name
19    277014407  Điện thoại ZTE Blade A34 (4GB/64GB) Màn hình 6...
87    276075466  [NEW ARRIVAL] Loa Bluetooth Marshall Willen II...
91    275262949   Loa CROWN 5 đế có bluetooth ( Hàng Chính Hãng )
123   277771239  Loa Bluetooth Xiaomi Speaker - GiaPhucStore | ...
156    47099726  Loa Bluetooth Kiêm Pin Sạc Dự Phòng Zealot S1 ...
174   272402620  Tai nghe Bluetooth True Wireless Anker Soundco...
190   142127420  Tai nghe game không dây Bluetooth và Lighspeed...
192   118191706  Tai nghe bluetooth F9 Pro thương hiệu PAGINI p...
205   276246546  Tai nghe Bluetooth Xiaomi Redmi Buds 6 Play - ...
229   148733004  Tai nghe Bluetooth V5.0 Hoco E57 chất liệu cao...

# Phân loại dữ liệu (chưa làm)

# Xử lý dữ liệu Noise
- Các tên sản phẩm không phải là sản phẩm chính trong danh mục

# Chuẩn hoá dữ liệu

In [1158]:
df = df.sort_values(by='category').reset_index(drop=True)

> Làm gọn tên sản phẩm

In [1159]:
import re

In [1160]:
category_prefix = {
    "Điện thoại": "SP",
    "Đồng hồ thông minh": "SW",
    "Tai nghe": "HP",
    "Loa": "SP",
    "Sạc dự phòng": "PB",
    "Chuột": "MS"
}

In [1161]:
df = df.copy()

In [1162]:
df['serial_code'] = (df.groupby('category').cumcount() + 1).astype(str).str.zfill(2)
df['serial_code'] = df['category'].map(category_prefix) + df['serial_code']

In [1163]:
cols = ['serial_code'] + [col for col in df.columns if col != 'serial_code']
df = df[cols]

In [1164]:
df.head(5)

,serial_code,product_id,product_name,category,price,image,image_url,source,platform
0,MS01,74553497,Chuột chơi game có dây LOGITECH G102 GEN2 RGB ...,Chuột,399000,Chuột/74553497_2868333515564354288.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/chuot-choi-game-co-day-logitec...,Tiki
1,MS02,276163723,Chuột Gaming Logitech PRO X SUPERLIGHT 2 DEX -...,Chuột,3490000,Chuột/276163723_-9150353812030735703.png,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/chuot-gaming-logitech-pro-x-su...,Tiki
2,MS03,276675817,Chuột LED RGB 7200DPI Gaming Macro Mouse C8 ch...,Chuột,185000,Chuột/276675817_8938236437287648169.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/chuot-led-rgb-7200dpi-gaming-m...,Tiki
3,MS04,290995,Chuột Có Dây Newmen G10 Màu Đen - Gaming- Hàng...,Chuột,175000,Chuột/290995_7623098700797147372.jpg,https://salt.tikicdn.com/cache/280x280/media/c...,https://tiki.vn/chuot-choi-game-co-day-newmen-...,Tiki
4,MS05,385455,Chuột Chơi Game Có Dây Fuhlen L102 1000DPI 3 P...,Chuột,142000,Chuột/385455_1096506520391591450.jpg,https://salt.tikicdn.com/cache/280x280/ts/prod...,https://tiki.vn/chuot-choi-game-co-day-fuhlen-...,Tiki

In [1165]:
df.groupby('category')['price'].mean()

category
Chuột                 7.814716e+05
Loa                   2.011357e+06
Sạc dự phòng          6.746797e+05
Tai nghe              1.009800e+06
Điện thoại            7.835724e+06
Đồng hồ thông minh    2.382125e+06
Name: price, dtype: float64

In [1166]:
df.to_excel("data_cleaned.xlsx", index=False)